*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#splash{
	position: fixed; top: 0; left: 0; z-index: 999;
	width: 100vw; height: 100vh;

	display: flex;
	align-items: center; justify-content: center;

	font-size: 24px;
	color: #fff; background: #000;

}

#splash.hide{
	opacity: 0; visibility: hidden;
	transition: all 1s
}

.imagebody{
	background-image: url("../img/cafe.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

h1.title {
  width: 100%;                      
  background-color: #fff0b3;        
  color: darkred;
  border-bottom: 3px solid darkred; 
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 78px;
}

.navbar {
  background-color: #fff0b3;
  padding: 10px 0;
  text-align: center;
  border-bottom: 3px solid darkred; 
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  margin: 0 15px;
}

.navbar a {
  text-decoration: none;
  color: darkred;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #ffd700; /* gold on hover */
}

.wrapper {
  flex: 1;
}

.footer {
  background-color: #fff0b3;
  color: darkred;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  border-top: 3px solid darkred; 
}

.footer a {
  color: darkblue;
  text-decoration: none;
  margin: 0 10px;
}